<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--
Tinker CSS Template
https://templatemo.com/tm-506-tinker
-->
        <title>Movie Review Sentiment Prediction</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/fontAwesome.css">
        <link rel="stylesheet" href="/static/css/hero-slider.css">
        <link rel="stylesheet" href="/static/css/owl-carousel.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">
        <link rel="stylesheet" href="/static/css/lightbox.css">

        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head> 


<body style="background-color:white;">
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation"style="background: gray;">
                <div class="navbar-header" >
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand scroll-top" style="padding-bottom: 5pc;"><em>Cine</em>metric</a>
                </div>
                    <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                        <!-- <ul class="nav navbar-nav">
                            <li><a href="#" class="scroll-top">Home</a></li>
                            <li><a href="#" class="scroll-link" data-id="contact-us">Predictions</a></li>
                            <li><a href="#" class="scroll-link" data-id="portfolio">Data Journey</a></li>
                            <li><a href="#" class="scroll-link" data-id="about">Our Team</a></li>
                            <li><a href="#" class="scroll-link" data-id="blog">Projects</a></li>
                            <li><a href="#" class="scroll-link" data-id="map">Contact Us</a></li>
                        </ul> -->
                </div>
                    
                    <!--/.navbar-collapse-->
            </nav>

            
            <div class='tableauPlaceholder' id='viz1595514976497' style='position: relative' style="height: 200vh;">
                <noscript>
                    <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;La&#47;LasttwoDecadesMoviesdataanalysis&#47;MoviesBudgetsuminlast20yearsforvariousdistributors&#47;1_rss.png' style='border: none'/></a>
                </noscript>
                <object class='tableauViz'  style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                     <param name='embed_code_version' value='3' /> 
                     <param name='site_root' value='' />
                     <param name='name' value='LasttwoDecadesMoviesdataanalysis&#47;MoviesBudgetsuminlast20yearsforvariousdistributors' />
                     <param name='tabs' value='yes' />
                     <param name='toolbar' value='yes' />
                     <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;La&#47;LasttwoDecadesMoviesdataanalysis&#47;MoviesBudgetsuminlast20yearsforvariousdistributors&#47;1.png' /> 
                     <param name='animate_transition' value='yes' />
                     <param name='display_static_image' value='yes' />
                     <param name='display_spinner' value='yes' />
                     <param name='display_overlay' value='yes' />
                     <param name='display_count' value='yes' />
                     <param name='language' value='en' />
                     <param name='filter' value='publish=yes' />
                </object>
            </div>            
                <!--/.navbar-->
        </div>    
            <!--/.container-->
    </div>    
        <!--/.header-->
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1595514976497');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.50)+'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>    

    
</body>
</html>